@charset "utf-8";
/* CSS Document */
html{
	display:block
}
body{
	font-size:20px;
	margin:auto;
}
#main{
	margin: 50px 300px ;
}
#hder {
	z-index:9;
	
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  display:block;
  top: 0;
  font-size:0.5 em;
}
#hder{
	margin:0;
}
li.header-li {
  float: left;
  position: relative;
}

.header-li a {
  display: inline-block;
  color: white;
  text-align: left;
  padding: 7px 8px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.header-li a:hover {
  background-color: #111;
}
.header-li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

#ne-bar {
	display:inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #f1f1f1;
  height: 100%; 
  position: fixed; 
  overflow: auto; 
}

.nev-bar-li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.nev-bar-li a.active {
  background-color: #4CAF50;
  color: white;
}
.ac{
	display:none;
	 position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.header-li:hover .ac{
	display:block;
}
.ac a{
	color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
 }